<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Search</title>
</head>

<body>
	<h1>Employee Search</h1>
	<form th:action="@{/d/search}" method="post">
		<label for="employeesId">Employee ID:</label>
		<input type="text" id="employeesId" name="employeeId">
		<input type="submit" value="Search">
	</form>

	<div th:if="${employees != null}">
		<h2>Employee Details</h2>
		 
		<p>Name: <span th:text="${employees.getFirstName()}"></span></p>
		<p>Salary: <span th:text="${employees.getSalary()}"></span></p>
	</div>
</body>

</html>